body {
    margin: 0;
    background-color: #1B244A;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

#home {
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    color: white;
    margin: 2px 2px;
}

#home-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 99px;
    font-style: regular;
    background-color: #080001;
    color: #F94F6D;
    margin: 10px 15px 20px 15px;
    width: 155px;
    height: 120px;
    top: 125px;
    left: 82px;
    padding-top: 15px;                                 
}

.container {
    display: flex;
    justify-content: space-around;
}

#home-score-btn-1 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px;
    padding: 5px 8px;
   
}

#home-score-btn-2 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px;
    padding: 5px 8px;
}

#home-score-btn-3 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px;
    padding: 5px 8px;
}

#guest {
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
    color: white;
    margin: 2px 2px;
}

#guest-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 99px;
    font-style: regular;
    background-color: #080001;
    color: #F94F6D;
    margin: 10px 15px 20px 15px;
    width: 155px;
    height: 120px;
    top: 125px;
    left: 82px;
    padding-top: 15px; 


}

#guest-score-btn-1 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px;
    padding: 5px 8px;
}

#guest-score-btn-2 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px;
    padding: 5px 8px;
}

#guest-score-btn-3 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px;
    padding: 5px 8px;
}

#reset-score {
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 25px;
    letter-spacing: 0%;
    color: white;
    margin: 2px 2px;
    background-color: #1B244A;
}